@import "../scss-variables.scss";

.home-container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-section {
  height: calc(100% - 100px);
  padding: 50px 15% 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-title {
  font-size: 3.1rem;
  font-weight: $regular;
  color: $blue;
  width: 85%;
  height: 10%;
  text-align: center;
}
.home-desc {
  padding: 0 5%;
  font-size: 1.5rem;
  font-weight: $light;
  color: $dark_gray;
  width: 70%;
  height: 20%;
  text-align: center;
}
.home-img {
  width: 90%;
  height: 70%;
  max-width: fit-content;
}

.home-footer-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: $orange;
}
.home-footer-txt {
  color: white;
  font-size: 1.75rem;
  font-weight: $medium;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .home-section {
    padding-top: 60px;
  }
  .home-title {
    font-size: 2.5rem;
    width: 90%;
  }
  .home-desc {
    width: 80%;
    font-size: 1.3rem;
  }
  .home-img {
    width: 100%;
  }
  .home-footer-txt {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    height: 100vh;
  }
  .home-section {
    padding: 20px 10px 0;
    height: calc(100% - 230px);
  }
  .home-title {
    font-size: 1.6rem;
    width: 90%;
    height: 20%;
  }
  .home-desc {
    width: 100%;
    height: 30%;
    font-size: 1rem;
    font-weight: $light;
  }
  .home-img {
    height: 50%;
  }
  .home-footer-bar {
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    height: 230px;

    a {
      width: 100%;
    }
  }
  .home-footer-txt {
    width: 70%;
    font-size: 1.3rem;
    padding-bottom: 20px;
  }
  .btn {
    width: 100%;
  }
}
